extends layout
 
block content
  div.container
    h1 Index
    #container.row
      a(href='/users/login', class='text-center new-account') Log in
    #container.row
      a(href='/users/signup', class='text-center new-account') Create an account
    #container.row
      a(href='/users/signout', class='text-center new-account') Sign Out
