extends layout

block content
  header
    div.container
      div.col-md-4
        a(href='/users/login', class='text-center new-account') Log in
      div.col-md-4
        a(href='/users/signup', class='text-center new-account') Create an account
      div.col-md-4
        a(href='/users/signout', class='text-center new-account') Sign Out
  body
    main
      div.container
        div.row-fluid
              
          div.container 
            form(class='form-signin', action='/search', method='POST')
            input(type='text', name='search_term' class='form-group', placeholder='Search',required, autofocus)
            input(type='text', name='location' class='form-group', placeholder='Location',required, autofocus)
            button(class='btn btn-info', type='submit') Sign in
          
        
          div.container 
            div.row
              div.col-md-6
                p
                  img(src="https://maps.googleapis.com/maps/api/staticmap?center=Opera+House,Sydney+Australia&zoom=13&size=400x300&markers=#{markers}&sensor=false")
              div.col-md-6
                p
                  img(src="http://www.cloudave.com/wp-content/uploads/HLIC/106c2896f6edc223276d1833bda9df4d.png")
               
