
extends layout

block content
  body
    div.container
      div.row
        div.col-sm-6.col-md-4.col-md-offset-4
          h1.text-center.login-title Sign up to Twitter Cities
            div.account-wall
              form(class='form-signin', action='/users/signup', method='POST')
                input(type='text', name='firstName' class='form-control', placeholder='First Name', required, autofocus)
                input(type='text', name='lastName' class='form-control', placeholder='Last Name', required, autofocus)
                input(type='text', name='username' class='form-control', placeholder='User Name', required, autofocus)
                input(type='text', name='email' class='form-control', placeholder='Email',required, autofocus)
                input(type='password', name='password' class='form-control', placeholder='Password', required)
                button(class='btn btn-lg btn-primary btn-block', type='submit') Sign up
                span.clearfix
            #message
            if message
              h1.text-center.error-message #{message}
